- if current_program.present?
  = render partial: '/partials/custom_styles', locals: {program: current_program}


- if ( can? :create, Event ) && ( can? :create, Location )
  .row.hide
    .columns.large-2
      %p
        = link_to "Programs", admin_programs_url, :class=>"button"
        %br
        #{Program.all.count} Programs
    .columns.large-2
      %p
        = link_to "Events", events_url, :class=>"button"
        %br
        #{Event.all.count} Events
    .columns.large-2
      %p
        = link_to "Locations", locations_url, :class=>"button"
        %br
        #{Location.all.count} Locations
    .columns.large-6
      &nbsp;

= render partial: "/partials/header"


#main_content
  .row
    .columns.large-4
      .panel
        %h3
          zakk
          %strong Programm
      - @events_programm.each do  |p|
        - if ( p.status == 'Published' ) || ( can? :manage, Event )
          = render partial: "event", locals: { p: p }


      - if ( can? :create, Event )
        %p.panel.hint
          sorted by startdate, only future dates (and today)
      - if current_program.present? && current_program.image.url
        - image_url = "#{current_program.image.thumb.url}"
      - else
        - image_url = "#{image_url('zakk_pattern1.png')}"
      %div{:class=>"panel program_image"}
        = link_to program_path("current") do
          %img{:src=>"#{image_url}"}
        %p
          Aktuelles Monatsprogramm:
          = link_to program_path("current") do
            %strong #{current_program.title}
    .columns.large-4
      .panel
        %h3
          Neues im
          %strong zakk
      - @events_neues.each do  |p|
        - if ( p.status == 'Published' ) || ( can? :manage, Event )
          = render partial: "event", locals: { p: p }
      - if ( can? :create, Event )
        %p.panel.hint
          sorted by startdate, all events

    .columns.large-4
      - if @events_undsonst.count > 0
        .panel
          %h3
            Und
            %strong sonst
            ?
        - @events_undsonst.each do  |p|
          - if ( p.status == 'Published' ) || ( can? :manage, Event )
            = render partial: "event", locals: { p: p }
        - if ( can? :create, Event )
          %p.panel.hint
            sorted by startdate, only future dates (and today)
  .row
    .columns.large-4
      %p.text-right
        %span.ptext
          %a{:href=>"/"}
            %strong zakk
        %span.ptext
          %a{:href=>"/"}
            klubraum
    .columns.large-4
      #imagecredits
        - if current_program.image_credit.present?
          %span.ptext
            Bild:
            - if current_program.image_credit_link.present?
              = link_to "#{current_program.image_credit_link}" do
                = current_program.image_credit
            - else
              = current_program.image_credit
        - if current_program.backgroundimage_credit.present?
          %span.ptext
            - if current_program.image_credit.present? && current_program.backgroundimage_credit.present?
              Hintergrundbild:
            - else
              Bild:
            - if current_program.backgroundimage_credit_link.present?
              = link_to "#{current_program.backgroundimage_credit_link}" do
                = current_program.backgroundimage_credit
            - else
              = current_program.backgroundimage_credit
    .columns.large-4
      = render partial: "/partials/nav"
  .row
    .columns.large-12
      &nbsp;